<p> Please log in to your iCloud account to choose which calendar to sync. You will need to use an app-specific password to login. If you haven't set one up, follow <a href="https://support.apple.com/en-us/HT204397">these instructions.</a></p>
<br>
<form action="/settings/post" method="post">
  <div class="form-group">
    <label for="appleid">Apple ID</label>
    <input type="text" class="form-control" id="appleid"  name="appleid">
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" name="pass">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
