<DOCTYPE html>
<html>
  <head>
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <?php if (!isset($_SESSION['username']) || empty($_SESSION['username'])): ?>
      <a class="navbar-brand pull-right" href="/login">Login</a>
      <a class="navbar-brand pull-right" href="/register">Register</a>
      <?php endif; ?>
    </nav>


    <?php if ($route->controller->getError()): ?>
    <div class="alert alert-danger" role="alert"><?= $route->controller->getError(); ?></div>
    <?php endif; ?>


    <div class="container">
        <?php include_once($route->controller->getView()); ?>
    </div>

  <body>
<html>
